*
{
    font-family: 'Bangers', sans-serif;
}

.menu_base
{
    background-color:#ff0000;
    text-align: center;
}

.menu_base a
{
    color: rgb(255, 0, 0);
}

.menu_option
{
    position: absolute;
    left: 40%;
    bottom: 15%;
}

.menu_option a
{
    color: white;
}

.menu_img_opt
{
    position: relative;
    left: 2.5%;
}

.Productos_main
{
    margin: 3%;
}

.Productos_main2
{
    margin: 3%;
}

.button1
{
    position: relative;
    border-radius: 15px;
    border-style: hidden;
    background-color: yellow;
    color: black;
    font-size: 60px;
    bottom: 175px;
    left: 45%;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

    .Productos_main2 img {
        width: 100%;
    }

    .button1 {
        bottom: 80px;
        font-size: 30px;
        left: 33%;
        margin-right: 3%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 399px) {

    .Productos_main2 img {
        width: 100%;
    }

    .button1 {
        bottom: 75px;
        font-size: 30px;
        left: 27%;
        margin-right: 5%;
    }
}

.Productos
{
    margin: 5%;    
}

.fontcuerpo
{
    font-family: 'Lato:wght', sans-serif;
}

.Titulo1
{
    color: #ff2600;
}

#botonarriba
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    visibility: hidden;
}

footer
{
    background-color: rgb(43, 42, 42);
    color: white;
}

.piepagina
{
    position: relative;
    left: 45px;
    margin: 3%;
}

@media only screen and (max-width: 600px) {

    .piepagina{
        left: 15px;
    }
    .pietexto{
        left: 90px;
    }
}