.Mapa{
    margin: 50px;
}

.Mapa p
{
    font-size: 25PX;
}


@media only screen and (min-width: 400px) and (max-width: 600px) {

    .Mapa iframe
    {
        width: 400px;
        height: 300px;
    } 
}

@media only screen and (min-width: 300px) and (max-width: 399px) {

    .Mapa iframe
    {
        width: 50%
    } 
}