<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asadero | Acerca de Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="stylesheet" href="../Css/Acerca_nosotros.css">
    <script src="Js/general.js"></script>
</head>
  <body>
    <header>
        <nav class="menu_base navbar navbar-expand-lg" style="background-color:rgb(255, 0, 0);" data-bs-theme="tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="../Images/productos.png" alt="" class="img-fluid" width="95px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5> <br>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav me-auto my- my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
                                    <a class="menu_img_opt navbar-brand text-center" href="#"><img src="../Images/productos.png" alt="" class="img-fluid" width="150px" height="150px" id="Logoinicio" width="5px" height="5px"></a>
                                    <div class="navbar-nav">
                                        <a class="nav-link"  href="../index.html"><h4>Menu</h4></a>
                                        <a class="nav-link" href="Ubicacion.html"><h4>Ubicación</h4></a>
                                        <a class="nav-link active" aria-current="page" href="Acerca_nosotros.html"><h4>Acerca de Nosotros</h4></a>
                                    </div>
                                </ul>
                            </div>
                        </div>
    
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
                                <!-- <a class="navbar-brand" href="MENU.HTML">Asadero</a> -->
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse menu_option" id="navbarNavAltMarkup">
                                    <div class="navbar-nav">
                                        <a class="nav-link" href="../index.html"><h4>Menu</h4></a>
                                        <a class="nav-link" href="Ubicacion.html"><h4>Ubicación</h4></a>
                                        <a class="nav-link active" aria-current="page" href="Acerca_nosotros.html"><h4>Acerca de Nosotros</h4></a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                </div>
        </nav>
    </header>


    <div class="Info2">
        <center>

            <h1>Política de Privacidad de [Nombre de tu Sitio de Comidas Rápidas] <br></h1>
            <p><p class="Info2">
                Fecha de última actualización: 28/10/2023                

                <br><br><br>
                <font color="red" class="Titulos">1. Introducción</font><br>Gracias por visitar [Nombre de tu Sitio de Comidas Rápidas]. Tu privacidad es importante para nosotros. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos la información personal que nos proporcionas.

                <br><br><br>
                <font color="red" class="Titulos">2. Información que Recopilamos</font><br>2.1. Información Personal: Podemos recopilar información personal como nombre, dirección, número de teléfono y dirección de correo electrónico cuando la proporcionas voluntariamente al realizar un pedido o suscribirte a nuestro boletín.
                <br>2.2. Información de Pago: Si realizas compras a través de nuestro sitio web, podemos recopilar información de pago como números de tarjeta de crédito o cuentas bancarias.
                <br>2.3. Información de Registro: Podemos recopilar información sobre tu visita, incluida la dirección IP, el tipo de navegador, la duración de la visita y las páginas visitadas.

                <br><br><br>
                <font color="red" class="Titulos">3. Uso de la Información</font> <br>3.1. Utilizamos la información recopilada para procesar pedidos, proporcionar servicios, responder a consultas y mejorar la experiencia del usuario.
                <br>3.2. No compartiremos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para cumplir con requisitos legales o para proteger nuestros derechos.

                <br><br><br>
                <font color="red" class="Titulos">4. Seguridad de la Información</font> <br>Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, alteraciones, divulgaciones o destrucciones no autorizadas.

                <br><br><br>
                <font color="red" class="Titulos">5. Cookies y Tecnologías Similares</font> <br>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y analizar el tráfico del sitio web. Puedes controlar las preferencias de cookies a través de la configuración de tu navegador.

                <br><br><br>
                <font color="red" class="Titulos">6. Enlaces a Terceros</font> <br>Nuestro sitio web puede contener enlaces a sitios de terceros. No somos responsables de las prácticas de privacidad de estos sitios y te recomendamos revisar sus políticas de privacidad.

                <br><br><br>
                <font color="red" class="Titulos">7. Cambios en la Política de Privacidad</font> <br>Nos reservamos el derecho de actualizar y modificar esta Política de Privacidad en cualquier momento. La versión actualizada se publicará en nuestro sitio web con la fecha de última actualización.

                <br><br><br>
                <font color="red" class="Titulos">8. Contacto</font> <br>Si tienes preguntas o preocupaciones sobre esta Política de Privacidad, contáctanos a través de [información de contacto].

            </p>
            <p>
                Gracias por visitar <font color="red">[Nombre de tu Sitio de Comidas Rápidas]</font>.
            </p>
                
        </center>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row p-3 ms-4">
                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                <h5>Síguenos en nuestras redes</h5>
                </div>

                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                    <h5>Legales</h5>
                </div>

                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                    <h5>Conozcamos</h5>
                </div>
            </div>

            <div class="row text-center pt-3">
                
                <div class="col-sm-1 col-md-1 col-lg-1 p-0 m-auto piepagina" id="TextoIndex1">
                  <a href="https://www.facebook.com" target="_blank"><img src="..\Images/facebook.png" class="img-fluid" alt="..." width="90" height="300"></a> 
                </div>
                <div class="col-sm-1 col-md-1 col-lg12 p-0 m-auto piepagina" id="TextoIndex1">
                  <a href="https://wa.link/l7uked" target="_blank"><img src="..\Images/whatsapp.png" class="img-fluid" alt="..." width="90" height="300"></a> 
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3 p-0 m-auto" id="TextoIndex1">
                    <a class="nav-link " href="Terminos_condiciones.html"><h5>Términos y condiciones</h5></a>
                    <a class="nav-link" href="Politica_privacidad.html"><h5>Políticas de privacidad</h5></a>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3 p-0 m-auto" id="TextoIndex1">
                    <a class="nav-link" href="Acerca_nosotros.html"><h5>Acerca de Nosotros</h5></a>
                    <a class="nav-link" href="Ubicacion.html"><h5>Ubicación</h5></a>
                </div>
            </div>
            <div class="row p-3">
                <div class="col  text-center">
                    2023 asadero® Todos los derechos reservados
                </div>
            </div>
          </div>
    </footer>

</body>
</html>