<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asadero | Acerca de Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/Acerca_nosotros.css">
    <script src="Js/general.js"></script>
</head>
  <body>
    <header>
        <nav class="menu_base navbar navbar-expand-lg" style="background-color:rgb(255, 0, 0);" data-bs-theme="tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="../Images/productos.png" alt="" class="img-fluid" width="95px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5> <br>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav me-auto my- my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
                                    <a class="menu_img_opt navbar-brand text-center" href="#"><img src="../Images/productos.png" alt="" class="img-fluid" width="150px" height="150px" id="Logoinicio" width="5px" height="5px"></a>
                                    <div class="navbar-nav">
                                        <a class="nav-link"  href="../index.html"><h4>Menu</h4></a>
                                        <a class="nav-link" href="Ubicacion.html"><h4>Ubicación</h4></a>
                                        <a class="nav-link active" aria-current="page" href="Acerca_nosotros.html"><h4>Acerca de Nosotros</h4></a>
                                    </div>
                                </ul>
                            </div>
                        </div>
    
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
                                <!-- <a class="navbar-brand" href="MENU.HTML">Asadero</a> -->
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse menu_option" id="navbarNavAltMarkup">
                                    <div class="navbar-nav">
                                        <a class="nav-link" href="../index.html"><h4>Menu</h4></a>
                                        <a class="nav-link" href="Ubicacion.html"><h4>Ubicación</h4></a>
                                        <a class="nav-link active" aria-current="page" href="Acerca_nosotros.html"><h4>Acerca de Nosotros</h4></a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                </div>
        </nav>
    </header>


    <div class="Info2">
        <center>

            <h1>Términos y Condiciones de [Nombre de tu Sitio de Comidas Rápidas] <br></h1><br>
            <p class="Info2">
                Por favor, lee detenidamente los siguientes términos y condiciones antes de utilizar nuestro sitio web. Al acceder y utilizar este sitio web, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con estos términos y condiciones, por favor, no utilices nuestro sitio web.
                Nuestro equipo está compuesto por apasionados amantes de la parrilla, dedicados a crear platos que deleiten cada paladar. Nos enorgullecemos de utilizar ingredientes frescos y de la más alta calidad en cada preparación.
                

                <br><br><br>
                <font color="red" class="Titulos">1. Uso del Sitio Web </font><br> 1.1. Estás autorizado a utilizar nuestro sitio web para navegar, hacer pedidos y acceder a la información proporcionada.
                <br>1.2. No debes utilizar este sitio web de manera que pueda causar daño, perjuicio o interrupción al mismo.

                <br><br><br>
                <font color="red" class="Titulos">2. Pedidos </font><br>2.1. Los pedidos realizados a través de nuestro sitio web están sujetos a disponibilidad y confirmación.
                <br>2.2. Nos reservamos el derecho de rechazar o cancelar pedidos por cualquier motivo, incluida la falta de disponibilidad de productos.

                <br><br><br>
                <font color="red" class="Titulos">3. Precio y Pago</font> <br>3.1. Los precios de los productos se indican en pesos colombianos (COP) e incluyen los impuestos aplicables.
                <br>3.2. Los métodos de pago aceptados se especifican en nuestro sitio web.

                <br><br><br>
                <font color="red" class="Titulos">4. Entrega</font> <br>4.1. La información sobre tiempos de entrega y costos se proporciona en nuestro sitio web y está sujeta a cambios.
                <br>4.2. No nos hacemos responsables de retrasos o problemas de entrega causados por circunstancias fuera de nuestro control.

                <br><br><br>
                <font color="red" class="Titulos">5. Política de Devoluciones y Reembolso</font> <br>5.1 Política de Devoluciones y Reembolso

                <br><br><br>
                <font color="red" class="Titulos">6. Propiedad Intelectual</font> <br>6.1. El contenido y los materiales en este sitio web están protegidos por derechos de autor y otras leyes de propiedad intelectual.
                <br>6.2. No está permitida la reproducción, distribución o modificación del contenido sin autorización.
                
                <br><br><br>
                <font color="red" class="Titulos">7. Privacidad</font> <br>7.1. Consulta nuestra política de privacidad [enlace a la política].

                <br><br><br>
                <font color="red" class="Titulos">8. Cambios en los Términos y Condiciones</font> <br>8.1. Nos reservamos el derecho de actualizar y modificar estos términos y condiciones en cualquier momento.

                <br><br><br>
                <font color="red" class="Titulos">9. Ley Aplicable</font> <br>9.1. Estos términos y condiciones se rigen por las leyes de Colombia y cualquier disputa se somete a la jurisdicción de los tribunales colombianos.
                <br>9.2. No está permitida la reproducción, distribución o modificación del contenido sin autorización.
            </p>

            <p>Gracias por visitar <font color="red">[Nombre de tu Sitio de Comidas Rápidas]</font>. Si tienes alguna pregunta, contáctanos a través de [información de contacto].</p>
                
        </center>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row p-3 ms-4">
                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                <h5>Síguenos en nuestras redes</h5>
                </div>

                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                    <h5>Legales</h5>
                </div>

                <div class="col-sm-1 col-md-4 col-lg-4 p-0 m-auto text-center" id="TextoIndex1">
                    <h5>Conozcamos</h5>
                </div>
            </div>

            <div class="row text-center pt-3">
                
                <div class="col-sm-1 col-md-1 col-lg-1 p-0 m-auto piepagina" id="TextoIndex1">
                  <a href="https://www.facebook.com" target="_blank"><img src="..\Images/facebook.png" class="img-fluid" alt="..." width="90" height="300"></a> 
                </div>
                <div class="col-sm-1 col-md-1 col-lg12 p-0 m-auto piepagina" id="TextoIndex1">
                  <a href="https://wa.link/l7uked" target="_blank"><img src="..\Images/whatsapp.png" class="img-fluid" alt="..." width="90" height="300"></a> 
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3 p-0 m-auto" id="TextoIndex1">
                    <a class="nav-link " href="Terminos_condiciones.html"><h5>Términos y condiciones</h5></a>
                    <a class="nav-link" href="Politica_privacidad.html"><h5>Políticas de privacidad</h5></a>
                </div>
                <div class="col-sm-1 col-md-3 col-lg-3 p-0 m-auto" id="TextoIndex1">
                    <a class="nav-link" href="Acerca_nosotros.html"><h5>Acerca de Nosotros</h5></a>
                    <a class="nav-link" href="Ubicacion.html"><h5>Ubicación</h5></a>
                </div>
            </div>
            <div class="row p-3">
                <div class="col  text-center">
                    2023 asadero® Todos los derechos reservados
                </div>
            </div>
          </div>
    </footer>

</body>
</html>